---
import BaseHead from "../../components/BaseHead.astro"
import PageHeader from "../../components/PageHeader.astro"
import lnbg from "../../images/albums/lnbg.webp"
---

<BaseHead
	title="lucky numbers"
	description="lucky numbers, a quiet party album"
/>
<style define:vars={{lnbg: lnbg.src}}>
	:root {
		background: url(lnbg) black;
		background-size: 100%;
		color: white;
		font-family: "Jost", "Jost*", "Futura", sans-serif;
		font-size: 2.4em;
	}

	h1 {
		font-weight: bold;
	}

	h2 {
		color: cyan;
		font-weight: 100;
	}

	h3 {
		font-size: 0.7em;
		color: #cec5c5;
		font-weight: bold;
		text-align: right;
	}

	p,
	ul {
		font-size: 0.8em;
	}

	a {
		color: #00ffff;
	}
</style>
<PageHeader />
<h1>lucky numbers</h1>

<p>
	available on:
	<ul>
		<li>
			<a href="https://quiet-party.bandcamp.com/album/lucky-numbers/">
				bandcamp
			</a> if you want to pay
			<li>
				<a href="https://music.apple.com/ca/album/lucky-numbers-ep/1728800705">
					itunes
				</a>
			</li>
			<li>
				<a href="https://open.spotify.com/album/51gaYejKNHaogOZyFao23c">
					spotify
				</a>
			</li>
			<li>
				everywhere else too,<br />
				you know how to use your music software,<br />
				type "quiet party lucky numbers" in the search box.
			</li>
			<li>also <a href="lucky-numbers.zip">this zip file</a> (flac)</li>

			<h3
				style="position:fixed;right:10px;bottom:10px"
				aria-label="lucky numbers"
			>
				lucky numbers&nbsp; &nbsp;<br />lucky numbers<br />lucky numbers<br
				/>lucky numbers<br />lucky numbers<br />lucky numbers<br />lucky numbers<br
				/>lucky numbers<br />lucky numbers<br />lucky numbers<br />lucky numbers<br
				/>lucky numbers<br />lucky numbers<br />lucky numbers<br />lucky numbers<br
				/>lucky numbers<br />lucky numbers<br />lucky numbers<br />lucky numbers<br
				/>lucky numbers<br />lucky numbers<br /><br /><br />
			</h3>
		</li>
	</ul>
</p>
