---
import BaseHead from "../../components/BaseHead.astro"
import PageHeader from "../../components/PageHeader.astro"
---

<BaseHead
	title="lucky numbers"
	description="lucky numbers, a quiet party album"
/>
<style>
	:root {
		background-color: black;
		background: url("./lnbg.webp");
		background-size: 100%;
		color: white;
		font-family: "futura", "quiet party", Iosevka, monospace;
		font-size: 2.4em;
	}

	h1 {
		font-weight: bold;
	}

	h2 {
		color: cyan;
		font-weight: 100;
	}

	h3 {
		font-size: 0.7em;
		color: #cec5c5;
		font-weight: bold;
		text-align: right;
	}

	p,
	ul {
		font-size: 0.8em;
	}

	a {
		color: #00ffff;
	}
</style>
<PageHeader />
<h1>lucky numbers</h1>

<p>
	available on:
	<ul>
		<li>
			<a href="https://quiet-party.bandcamp.com/album/lucky-numbers/"
				>bandcamp</a
			> if you want to pay
			<!-- li><a href="https://music.apple.com/gb/album/field-disturbances-ep/1708331221">itunes</a>
	<li><a href="https://open.spotify.com/album/5AIsBXc3M3tTFqOBHiXyzA">spotify</a>
	<li>everywhere else too,<br>you know how to use your music software,<br>type "quiet party lucky numbers" in the search box.-->
			<li>also <a href="lucky-numbers.zip">this zip file</a> (flac)</li>

			<h3
				style="position:fixed;right:10px;bottom:10px"
				aria-label="lucky numbers"
			>
				lucky numbers&nbsp; &nbsp;<br />lucky numbers<br />lucky numbers<br
				/>lucky numbers<br />lucky numbers<br />lucky numbers<br />lucky numbers<br
				/>lucky numbers<br />lucky numbers<br />lucky numbers<br />lucky numbers<br
				/>lucky numbers<br />lucky numbers<br />lucky numbers<br />lucky numbers<br
				/>lucky numbers<br />lucky numbers<br />lucky numbers<br />lucky numbers<br
				/>lucky numbers<br />lucky numbers<br /><br /><br />
			</h3>
		</li>
	</ul>
</p>
