---
import BaseHead from "../../components/base-head.astro"
import PageHeader from "../../components/page-header.astro"
---

<BaseHead
	title="「ANTICIPATION」⸻ quiet party"
	description="「ANTICIPATION」 by quiet party"
/>

<style>
	:root {
		--vape-top: #e0913c;
		--vape-bottom: #efaa9b;
		--sakura: color-mix(in srgb, #ddc3f8 90%, black);
		--grape: color-mix(in srgb, #ffd7c3 90%, black);
		--bg: linear-gradient(to bottom right, var(--sky), var(--vape-bottom));
		background: #ceb8f0;
		--sky: #ceb8f0;
		--tree: #f78a23;

		color: white;
		font-family: "quiet party", Iosevka, monospace;
		min-height: 100vh;
	}

	main {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		place-content: center;
		place-items: center;
	}

	h1 {
		font-size: 1.5em;
		background: linear-gradient(to bottom right, var(--sky), var(--sakura));
		border: 1px solid white;
		height: 10em;
		width: 10em;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	a {
		color: var(--borders);
	}

	h2 a {
		text-decoration: none;
	}

	section {
		color: black;
	}
</style>

<PageHeader />

<main>
	<h1>「ANTICIPATION」</h1>

	<section>
		<p>available on:</p>
		<ul>
			<li>
				<a href="https://quiet-party.bandcamp.com/album/anticipation"
					>bandcamp</a
				>
				<li>
					<a
						href="https://music.apple.com/gb/album/anticipation-single/1718648497"
						>itunes</a
					>
					<li>
						<a href="https://open.spotify.com/album/7DvMjjzcz6FZvXOSg8sD6X"
							>spotify</a
						>
						<li>
							everywhere else too,
							<br />you know how to use your music software,
							<br />type "quiet party anticipation" in the search box-->
						</li>
					</li>
				</li>
			</li>
		</ul>
	</section>
</main>
