---
import {type CollectionEntry, getCollection, render} from "astro:content"
import {SITE_TITLE} from "../../consts"
import SpacePage from "../../layouts/space-page.astro"
import BlogPost from "../../components/blog-post.astro"

export async function getStaticPaths() {
	const posts = await getCollection("blog")
	return posts.map(post => ({
		params: {slug: post.id},
		props: post,
	}))
}

type Props = CollectionEntry<"blog">

const post = Astro.props
---

<SpacePage
	title=`${post.data.title} | ${SITE_TITLE}`
	description={post.data.description}
>
	<main>
		<article class="space-layout__card">
			<BlogPost {...post} />
		</article>
	</main>
</SpacePage>
