---
interface Props {
	error: unknown
}

const {error} = Astro.props
---

<!doctype html>
<title>i messed it up</title>
<body
	bgcolor="#060606"
	text="white"
	link="deeppink"
	vlink="deeppink"
	style="font-size: 2em; display: flex; place-items: center; place-content: center; height: 100vh"
>
	<pre
		style="border: 1px solid white; padding: 1rem; box-shadow: 0 0 1em rgba(255, 20, 145, 0.2)">
{error instanceof Error ? error.message : "i fucked up"}
	</pre>
</body>
