---
import BaseHead from "../components/BaseHead.astro"
import {SITE_TITLE, SITE_DESCRIPTION} from "../consts"
import Cloud from "../components/Cloud.astro"
---

<!doctype html>
<html lang="en-CA" class="space-layout">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<header>
			<h1>
				<Cloud />
			</h1>
		</header>
		<main class="space-layout__content">
			<p>welcome to quiet party's space on the web</p>

			<section>
				<h2>links</h2>
				here are some places you can listen to quiet party (there are others)
				<ul>
					<li><a href="https://quiet-party.bandcamp.com">bandcamp</a></li>

					<li>
						<a href="https://music.apple.com/us/artist/quiet-party/1508324152"
							>apple music</a
						>
					</li>

					<li>
						<a href="https://open.spotify.com/artist/0RgVWYjHuskNvPEYQm0PL7"
							>spotify</a
						>
					</li>
				</ul>
			</section>

			<h2 class="wp-block-heading">releases</h2>

			<ul class="wp-block-list">
				<li>
					<a href="/lucky-numbers/">lucky numbers</a>
				</li>

				<li>
					<a href="/anticipation/">「ANTICIPATION」</a>
				</li>

				<li>
					<a href="/field-disturbances/">field disturbances</a>
				</li>

				<li>
					<a href="/corn/">CORN</a>
				</li>

				<li>
					<a href="/big-waterfall/">big waterfall</a>
				</li>
			</ul>

			<h2>software</h2>

			<p>sometimes i make things for making music:</p>

			<ul>
				<li><a href="https://bento.party">bento sampler and sequencer</a></li>
			</ul>
		</main>
	</body>
</html>
