---
import {SITE_DESCRIPTION} from "../consts"
import BaseHead from "../components/base-head.astro"
import Cloud from "../components/cloud.astro"
---

<!doctype html>
<html lang="en-CA" class="space-layout">
	<head>
		<BaseHead title="quiet party official" description={SITE_DESCRIPTION} />
		<style>
			h2 {
				font-size: 1.2em;
				font-weight: 400;
				margin-block: 0.25em;
			}

			section {
				margin-block: 1.5em;
			}

			p {
				margin-block: 0.25em;
				&:first-child {
					margin-top: 0;
				}
			}
			p + p {
				margin-block: 0.75em;
			}

			ul {
				margin-block: 0.25em;
			}

			.releases a:hover {
				background: hotpink;
			}
		</style>
	</head>
	<body>
		<header>
			<h1 style="margin-bottom: 0.25em">
				<span class="sr-only">quiet party</span>
				<Cloud />
			</h1>
		</header>
		<main
			class="space-layout__card"
			style="margin-top: .25em; padding-top: 0.5rem; font-family: var(--family-text); font-weight: 200"
		>
			<p>welcome to <b>quiet&nbsp;party's</b> space on the web</p>
			<p>
				check out the <a href="/blog">quiet&nbsp;party blog</a> for updates on new
				albums, works in progress, tips and tricks and more.
			</p>
			<p>
				or, subscribe to the
				<a href="/subscribe">quiet&nbsp;party newsletter</a> for a monthly roundup
				of quiet&nbsp;party news
			</p>

			<section>
				<h2>links</h2>
				<p>here are some places you can listen to <b>quiet&nbsp;party</b></p>
				<ul>
					<li><a href="https://quiet-party.bandcamp.com">bandcamp</a></li>

					<li>
						<a href="https://music.apple.com/us/artist/quiet-party/1508324152"
							>apple music</a
						>
					</li>

					<li>
						<a href="https://open.spotify.com/artist/0RgVWYjHuskNvPEYQm0PL7"
							>spotify</a
						>
					</li>
				</ul>
			</section>

			<section>
				<h2>releases</h2>
				<p>individual pages for the <b>quiet&nbsp;party</b> discography</p>
				<ul>
					<li>
						<a href="/lucky-numbers/">lucky numbers</a>
					</li>

					<li>
						<a href="/anticipation/">「ANTICIPATION」</a>
					</li>

					<li>
						<a href="/field-disturbances/">field disturbances</a>
					</li>

					<li>
						<a href="/corn/">CORN</a>
					</li>

					<li>
						<a href="/big-waterfall/">big waterfall</a>
					</li>
				</ul>
			</section>

			<section>
				<h2>software</h2>

				<p>sometimes i make things for making music:</p>

				<ul>
					<li>
						<a href="https://bento.party">bento &mdash; sampler and sequencer</a
						>
					</li>
				</ul>
			</section>
		</main>
	</body>
</html>
