---
import BaseHead from "../components/base-head.astro"
import PageHeader from "../components/page-header.astro"
import SpacePage from "../layouts/space-page.astro"
---

<style>
	fieldset.inline {
		display: flex;
		gap: 1em;
		border: 0;
		padding: 0;
		margin-bottom: 1rem;
	}
	fieldset.inline label {
		display: flex;
		flex-direction: column;
		font-size: 0.8em;
		font-weight: bold;
	}
	fieldset.inline label .note {
		&::before {
			content: "(";
		}
		&::after {
			content: ")";
		}
		font-style: italic;
		opacity: 0.8;
	}
	fieldset.inline input {
		margin-top: 0.5rem;
	}

	.inline-13 {
		flex: 0.4;
	}
	.inline-23 {
		flex: 0.6;
	}
	input {
		background: black;
		border: 2px solid white;
		color: white;
		padding: 0.5em 1em;
		box-shadow:
			1px 1px 0 white,
			2px 2px 0 white,
			3px 3px 0 white,
			4px 4px 0 white;
	}

	input:focus-within {
		border-color: #33efbc;
		outline: 0;
	}

	input[type="submit"] {
		background: #23efbc;
		border: 0;
		padding: 0.25em;
		color: black;
		font-weight: 400;
		font-size: 1em;
		width: 100%;
		box-shadow:
			1px 1px 0 white,
			2px 2px 0 white,
			3px 3px 0 white,
			4px 4px 0 white;
		position: relative;
		border: 1px solid #2ca;
		border-radius: 2px;
		&:focus,
		&:hover {
			box-shadow:
				1px 1px 0 white,
				2px 2px 0 white,
				3px 3px 0 white,
				4px 4px 0 white,
				5px 5px 0 white,
				6px 6px 0 white,
				7px 7px 0 white,
				8px 8px 0 white;
			border: 1px solid #1b9;
			top: -4px;
			left: -4px;
		}
		&:active {
			box-shadow: none;
			top: 3px;
			left: 3px;
		}
	}

	input[type="submit"]::hover {
		background: color-mix(in srgb, #33ffcc, white);
	}
</style>

<SpacePage
	title="subscribe"
	description="subscribe to the quiet party newsletter"
>
	<main class="space-layout__card">
		<p>
			subscribe to the <strong>quiet&nbsp;party</strong> newsletter
		</p>
		<p>
			for monthly roundups of all the latest <b> quiet&nbsp;party </b> news, pop
			your e-mail address in here:
		</p>

		<form
			method="post"
			action="https://listserv.quietparty.net/subscription/form"
			class="listmonk-form"
		>
			<div>
				<input type="hidden" name="nonce" />
				<fieldset class="inline">
					<label class="inline-13">
						<span>your name <span class="note">optional</span></span>
						<input type="text" name="name" placeholder="lieutenant colombo" />
					</label>
					<label class="inline-23">
						<span>your e-mail</span>
						<input
							type="email"
							name="email"
							required
							placeholder="colombo@lacity.gov"
						/>
					</label>
				</fieldset>
				<input
					type="hidden"
					name="l"
					checked
					value="b80b0b5e-3d2f-4f98-8b6f-2928858da7ce"
				/>
				<input type="submit" value="subscribe " />
			</div>
		</form>
	</main>
</SpacePage>
