---
import Navigation from "./navigation.astro"
import {generateRoute, type NaturalPage} from "../paginate-naturally.ts"
type Props = {page: NaturalPage}
const {page} = Astro.props
const currentPage = page.currentPage
---

<Navigation
	prevURL={page.previousPage == null
		? undefined
		: generateRoute(Astro, {page: "" + page.previousPage})}
	prevLabel="older entries"
	nextURL={page.nextPage == null
		? undefined
		: generateRoute(Astro, {page: "" + page.nextPage})}
	nextLabel="newer entries"
>
	<span class="nav-current">
		<span class="nav-current__current">{currentPage}</span>
		<span class="nav-current__sep"> / </span>
		<span class="nav-current__of">{page.totalPages}</span>
	</span>
</Navigation>

<style>
	.nav-current {
		color: white;
		user-select: none;
	}
</style>
