---
import BaseHead from "../../components/BaseHead.astro"
import PageHeader from "../../components/PageHeader.astro"
---

<BaseHead
	title="field disturbances e.p."
	description="field disturbances e.p. by quiet party"
/>
<style>
	:root {
		background: black;
		color: white;
		font-family: "quiet party", Iosevka, monospace;
	}

	h1 {
		font-weight: bold;
		font-size: 64px;
	}

	h2 {
		font-size: 56px;
		font-weight: 100;
	}

	h3 {
		font-size: 36px;
		color: #cec5c5;
		font-weight: bold;
	}

	@supports (background-clip: text) {
		pre {
			background: linear-gradient(
				96deg,
				#f00,
				#ff3917 10%,
				#ff8773 30%,
				#fe8574 45%,
				#ff3917 70%
			);
			background-size: 120px;
			background-clip: text;
			color: transparent;
			font-weight: 900;
			font-size: 2em;
			margin-left: 2em;
			display: inline-block;
		}
	}

	a {
		color: #00ffff;
	}
</style>
<PageHeader />
<h1>field disturbances</h1>
<h3>e.p.</h3>
<pre
	style="font-weight: bold">
                                   .
                                 .                          
  .                             
. ||               🞈     .      .
  .^-ln           ╻  ╻  . .╻╻╻.
      |°⌒"m.  ╯╹╻┃╹🞈╻.╹ |.╹╹ ╹  .
        ;   °⌒ ╹╹┃  ╹╻╹ .╹    .
                   °  .  .    . .
                                 .
</pre>

<p>
	available on:
	<ul>
		<li>
			<a href="https://quiet-party.bandcamp.com/album/field-disturbances">
				bandcamp
			</a>
		</li>
		<li>
			<a
				href="https://music.apple.com/gb/album/field-disturbances-ep/1708331221"
			>
				itunes
			</a>
		</li>
		<li>
			<a href="https://open.spotify.com/album/5AIsBXc3M3tTFqOBHiXyzA">
				spotify
			</a>
		</li>
		<li>
			everywhere else too,<br />
			you know how to use your music software,<br />
			type "quiet party field disturbances" in the search box.
		</li>
	</ul>
	<h3 style="position:fixed;right:10px;bottom:10px">stereo</h3>
</p>
